<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CompanyOrders"
         connectionString="server=scorpius.eng.usf.edu;
                           Initial Catalog=Northwind;
                           User=wpusr31;
                           Password=frUyewr2"/>
  </connectionStrings>
  
	<system.web>
		<compilation debug="true"/>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
